h4#moz {
    margin:0;
    position:absolute;
    top:10px;
    z-index:1;
}
h4#moz {
    font-size:130%;
    font-weight:bold;
}
h4#moz a {
    display:block;
    height:44px;
    padding-left:5px;
    padding-right:5px;
    width:100px;
}
h4#moz a {
    background:transparent url(http://addons.mozilla.org/img/sprite-alpha.png) no-repeat scroll 0 -1px;
}
.waiting h4#moz {
    background:transparent url(../img/clock.gif) no-repeat scroll right -4px;
    padding-right:54px;
}
.loading h4#moz {
    background:transparent url(../img/spin.gif) no-repeat scroll right 4px;
    padding-right:38px;
}
.playing h4#moz {
    background:transparent url(../img/progress.gif) no-repeat scroll right 14px;
    padding-right:48px;
}    
.paused h4#moz {
    background:transparent url(../img/hypno.gif) no-repeat scroll right 10px;
    padding-right:45px;
}    

#footer { margin-top: 0px; }
#footer-contents { padding: 35px 35px 35px 165px; width: 780px }

#templates, .template { display: none }

#main-feature h2 { font-size: 225% }

#content { margin: 0 150px 0 150px; min-height: 350px }

#content .filters ul.groups {
    padding: 0;
    margin: 0 0 0 0;
}
#content .filters .groups li {
    display: inline;
    clear: none;
    white-space: nowrap;
    padding: 0;
}
#content .filters .groups li input {
    margin: 0.5em 0.125em;
}
#content .filters .groups li label {
    float: left;
    padding: 0.5em;
}

#intro {
    padding: 0 0 0 0; margin: 0 0.5em 0 0.5em;
    background: #fff;
    color: #333;
}
#intro .panes {
    margin: 0; padding: 0;
    height: 300px;
    overflow: auto;
    border: 1px solid #212845;
    border-top: none;
}
#intro .panes div.pane {
    padding: 18px 1.5em;
    display: none;
}
#intro .panes div.selected {
    display: block;
}
#intro .panes h1 {
    margin: 0 0 0.5em 0;
}
#intro ul.nav {
    font-size: 1.125em;
    left: 0;
    padding: 0 0 0 0; margin: 0 0 2.5em 0;
}
#intro ul.nav li {
    padding: 0; margin: 0;
    margin-top: -1px;
    list-style-type: none;
    float: left;
}
#intro ul.nav li.hide {
    float: right;
    display: block;
}
#intro ul.nav li a {
    display: block;
    padding: 0.25em 0.75em; margin: 0 0.25em 0 0;
    color: #f2f2f2;
    background: #212845;
    border: 1px solid #212845;
    border-top: none;
}
#intro ul.nav li.hide a {
    margin: 0;
}
#intro ul.nav li a:hover {
    background: #515875;
    color: #f2f2f2;
}
#intro ul.nav li.selected a, #intro ul.nav li.selected a:hover {
    background: #fff;
    color: #212845;
}

#date-nav {
    position: relative;
    text-align: left;
    margin: 1.5em 0 0 2em;
}
#date-nav a:hover {
    cursor: pointer;
}
#date-nav ul, #date-nav li {
    padding: 0; margin: 0; 
    left: 0;
    background: none;
}
#date-nav .year-total, #date-nav .month-total, #date-nav .day-total {
    display: none;
}
#date-nav .years {
    position: absolute;
    top: 0; left: 0;
}
#date-nav .year {
    left: 0;
    width: 7ex;    
    margin: 0; padding: 0;
}
#date-nav .year .year-meta {
    margin: 0; padding: 0;
}
#date-nav .year .year-meta .year-label {
    margin: 0; padding: 0 0.25em;
    text-align: center;
    background-color: #212845;
    border: 1px solid #212845;
    color: #fff;
}
#date-nav .selected .year-meta .year-label {
    background-color: #fff;
    color: #212845;
}
#date-nav .year .months {
    display: none;
}
#date-nav .selected .months {
    display: block;
    position: absolute;
    top: 0; left: 7ex;
}
#date-nav .year .months .month {
}
#date-nav .year .months .month-meta {
    width: 2.5ex;    
    margin: 0; padding: 0;
}
#date-nav .year .months .month-meta .month-label {
    margin: 0; padding: 0 0.25ex;
    text-align: center;
    background-color: #212845;
    border: 1px solid #212845;
    color: #fff;
    display: block;
    width: 2.5ex;
}
#date-nav .year .selected .month-meta .month-label {
    background-color: #fff;
    color: #212845;
}
#date-nav .year .months .month.selected {
    display: block;
}
#date-nav .year .months .month .days {
    display: none;
    border: 1px solid #000;
    position: absolute;
    top: 0; left: 4.25ex;
    height: 100px;
    width: 75ex;
}
#date-nav .year .months .selected .days {
    display: block;
}
#date-nav .year .months .month .days .day {
    float: left;
    position: relative;
    height: 100px;
    width: 2.25ex;
    padding-right: 0.5ex;
}
#date-nav .year .months .month .days .day .day-meta {
    display: block;
    position: absolute;
    background: #515875;
    height: 50px;
    bottom: 0px;
    width: 2.25ex;
}
#date-nav .year .months .month .days .day .day-meta:hover {
    background: #9198b5;
}
#date-nav .year .months .month .days .day .day-meta .day-label {
    font-size: 0.70em;
    position: absolute;
    left: 0.25ex; bottom: -1.5em;
    text-align: center;
}
#date-nav .year .months .month .days .template {
    display: none;
}

#feed-items {
    list-style-type: none;
    padding-top: 1.5em;
    margin-top: 0;
}
#feed-items.paused { 
}
#feed-items li.entry {
    background: none;
    position: relative;
    margin: 0 1em 0 17ex;
    padding: 0 0 1.5em 0;
}
#feed-items li.entry .updated {
}
#feed-items li.entry .updated {
}
#feed-items li.entry .updated .date {
}
#feed-items li.entry .updated .time {
}
#feed-items li.entry .title {
    font-size: 105%;
    margin: 0; padding: 0;
}
#feed-items li.bug-status-resolved .title {
    text-decoration: line-through;
}
#feed-items li.entry .link:before {
    font-size: 80%;
    padding: 0 0.25em 0 0.25em;
    margin: 0 0.5em 0 0em;
}
#feed-items li.bug-status-assigned .link:before {
    color: #111;
    background: #cfc;
    content: "\270D\00a0\00a0 assigned";
}
#feed-items li.bug-status-new .link:before {
    color: #111;
    background: #ff9;
    content: "\2605\00a0\00a0new";
}
#feed-items li.bug-status-unconfirmed .link:before {
    color: #333;
    background: #ddd;
    content: "?\00a0unconfirmed";
}
#feed-items li.entry .favicon {
    padding-right: 0.25em;
}
#feed-items li.entry .link {
    margin: 0; padding: 0;
}
#feed-items li.entry .tags {
    display: none;
    left: 0; margin: 0; padding: 0;
}
#feed-items li.entry .tags li { 
    background: transparent;
    display: inline;
    margin: 0; padding: 0;
}
#feed-items .entry .group {
    position: absolute;
    top: 0em;
    left: -16ex;
    width: 14ex;
    text-align: right;
}
#feed-items .entry .group span { 
    padding: 0.125em 0.5em;
    background: #dfd;
    border: 1px #ddd solid;
}

#side-filters {
    clear: both;
    font-size: 0.90em;
    position: absolute;
    top: 65px; 
    left: 5px;
    width: 150px;
    text-align: left;
}
#side-filters h3 {
    color: #1E4262;
    margin: 0;
    padding: 7px 5px 5px 5px;
    padding: 0 5px;
}
#side-filters .groups li {
}

.filters {
}

.filters ul.groups {
    list-style: none;
    margin: 0 0 0 1.5em; 
    padding: 0.5em 0 0 0;
}
.filters ul.groups li.group {
    margin: 0; 
    padding: 0.5em 0 0.5em 0;
    background: transparent;
    clear: both;
}
.filters ul.groups li.group label {
    display: block;
    padding: 0 0.5em 0.5em 1.75em;
}
.filters ul.groups li.group label.hover {
    cursor: pointer;
}
.filters ul.groups li.group label.hit {
    background: #ffa;
}
.filters ul.groups li.group input {
    float: left;
    padding: 0; margin: 0;
}

.filters .filter label span.count {
    padding: 0 0 0 0.25em;
}
.filters .filter label span.count:before {
    content: "(";
}
.filters .filter label span.count:after {
    content: ")";
}

.filters .filter label span.name, #feed-items .entry .group span { 
    padding: 0.125em 0.5em;
    background: #dfd;
    border: 1px #ddd solid;
}
.filters .group-events label span.name, #feed-items .group-events .group span { 
    background: #fff; color: #000; border-top: 2px solid #f00;
}
.filters .group-bugs label span.name, #feed-items .group-bugs .group span { 
    background: #f11; color: #fff;
}
.filters .group-wiki label span.name, #feed-items .group-wiki .group span { 
    background: #346; color: #fff;
}
.filters .group-code label span.name, #feed-items .group-code .group span { 
    background: #111; color: #0f0;
    font-family: monospace;
}
.filters .group-bookmarks label span.name, #feed-items .group-bookmarks .group span { 
    background: #135bc9; color: #fff;
}
.filters .group-discussions label span.name, #feed-items .group-discussions .group span { 
    background: #eee; color: #023;
}
.filters .group-microblogs label span.name, #feed-items .group-microblogs .group span { 
    background: #fff; color: #0cf;
}
.filters .group-blogs label span.name, #feed-items .group-blogs .group span { 
    background: #f81; color: #fff;
}
.filters .group-photos label span.name, #feed-items .group-photos .group span { 
    background: #fff; color: #47b; border-bottom: 1px solid #d49;
}


